<!DOCTYPE html>
<html>
	<head>
	  <title>Campus Collage</title>
	  <%= stylesheet_link_tag "custom" %>
		<!--[if lt IE 7]>
		  <%= stylesheet_link_tag "ie6" %>
		<![endif]-->
	
		<%= javascript_include_tag "application" %>
		<%= yield(:head)%>
	  <%= csrf_meta_tag %>
		<link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
		<link  href="http://fonts.googleapis.com/css?family=Redressed:regular&v1" rel="stylesheet" type="text/css" >
		<link href='http://fonts.googleapis.com/css?family=Nova+Square&v2' rel='stylesheet' type='text/css'>
	</head>

	<body class="no-js">
	  <script>  
        var el = document.getElementsByTagName("body")[0];  
        el.className = "";  
    </script>
			<noscript>  
			<!--[if IE]>  
			    <link rel="stylesheet" href="css/ie.css">  
			<![endif]-->  
			</noscript>
	
		       
		       
		    
		
		
		
		 <div id="container">
			 <nav id="topNav">  
                <ul>  
                    <li><%= link_to '(logo)', root_path %></li> 
 								<% if signed_in?%>
								<li><%= link_to 'Upload', upload_path %></li>
								<li><%= link_to 'Sign Out', signout_path, :method => :delete %></li>
                <li><%= link_to 'Following', relationship_path(current_user)%></li>  
                <li><%= link_to 'Hearts', favorite_path(current_user)%></li>  
                <li><%= link_to 'Tags', '#' %>
									<ul class="wide-nav">
									<% tags.each_with_index do |tag, index|%>
											<% if index==tags.size-1 %>
                    		<li class="last"><%=link_to tag.name, tag %></li>
											<% else %>
	                    	<li><%=link_to tag.name, tag %></li>
											<% end %>
										<% end %>
										</ul>
								</li>  
                <li><%=link_to "Dorms", current_user.dorm %>
									<ul class="wide-nav">
										<% dorms.each_with_index do |dorm_id, index|%>
												<% if index==schools.size-1 %>
                      		<li class="last"><%=link_to Dorm.find(dorm_id).name, Dorm.find(dorm_id) %></li>
												<% else %>
	                      	<li><%=link_to Dorm.find(dorm_id).name, Dorm.find(dorm_id) %></li>
												<% end %>
											<% end %>
                  </ul>
								</li>
  							<li><%= link_to 'Schools', current_user.school%>
										<ul>
											<% schools.each_with_index do |school_id, index|%>
												<% if index==schools.size-1 %>
                        	<li class="last"><%=link_to School.find(school_id).name, School.find(school_id) %></li>
												<% else %>
                        	<li><%=link_to School.find(school_id).name, School.find(school_id) %></li>
												<% end %>
											<% end %>
                    </ul>
								</li>  
								<% else %>
									<li><%=link_to 'Sign In!', signin_path%>
								<% end %>
            </ul>  
        </nav>



		   
		        <div id="center-stage">
										<% flash.each do |key, value| %>
						          <div class="flash <%= key %>"><%= value %></div>
						        <% end %>
		                <%= yield %>
		        </div>
						<div class="clearfooter"></div>
		</div>
		        
		    
		<div id="footer">
		    <%= render 'layouts/footer' %>
		</div>
		<script>  
        (function($){  
      
            //cache nav  
            var nav = $("#topNav");  
      
            //add indicators and hovers to submenu parents  
            nav.find("li").each(function() {  
                if ($(this).find("ul").length > 0) {  
      
                    $("<span>").text("").appendTo($(this).children(":first"));  
      
                    //show subnav on hover  
                    $(this).mouseenter(function() {  
                        $(this).find("ul").stop(true, true).slideDown();  
                    });  
      
                    //hide submenus on exit  
                    $(this).mouseleave(function() {  
                        $(this).find("ul").stop(true, true).slideUp();  
                    });  
                }  
            });  
        })(jQuery);  
    </script>
	</body>
</html>
