<!DOCTYPE html>
<html>
	<head>
	  <title>College Collage</title>
	  <%= stylesheet_link_tag "custom" %>
		<!--[if lt IE 7]>
		  <%= stylesheet_link_tag "ie6" %>
		<![endif]-->
	
		<%= javascript_include_tag "application" %>
		<%= yield(:head)%>
	  <%= csrf_meta_tag %>
		<link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
		<link  href="http://fonts.googleapis.com/css?family=Redressed:regular&v1" rel="stylesheet" type="text/css" >
		<link href='http://fonts.googleapis.com/css?family=Nova+Square&v2' rel='stylesheet' type='text/css'>
	</head>

	<body class="no-js">
	  <script>  
        var el = document.getElementsByTagName("body")[0];  
        el.className = "";  
    </script>
			<noscript>  
			<!--[if IE]>  
			    <link rel="stylesheet" href="css/ie.css">  
			<![endif]-->  
			</noscript>
	
		       
		       
		    
		
		
		
		 <div id="container">
			 <nav id="topNav">  
                <%= render "layouts/header" %>
       </nav>



		   
		        <div id="center-stage">
										<% flash.each do |key, value| %>
						          <div class="flash <%= key %>"><%= value %></div>
						        <% end %>
		                <%= yield %>
		        </div>
						<div class="clearfooter"></div>
		</div>
		        
		    
		<div id="footer">
		    <%= render 'layouts/footer' %>
		</div>
		<script>  
        (function($){  
      
            //cache nav  
            var nav = $("#topNav");  
      
            //add indicators and hovers to submenu parents  
            nav.find("li").each(function() {  
                if ($(this).find("ul").length > 0) {  
      
                    $("<span>").text("").appendTo($(this).children(":first"));  
      
                    //show subnav on hover  
                    $(this).mouseenter(function() {  
                        $(this).find("ul").stop(true, true).slideDown();  
                    });  
      
                    //hide submenus on exit  
                    $(this).mouseleave(function() 
										{  
											var menu = this;
											setTimeout(function()
											{
                        $(menu).find("ul.short").stop(true, true).slideUp(); 
											}, 500);
                   	});

										$(this).mouseleave(function() 
										{  
											var menu = this;
											setTimeout(function()
											{
                        $(menu).find("ul.long").stop(true, true).slideUp(); 
											}, 1500);
                   	});  
                }  
            });  
        })(jQuery);  
    </script>
	</body>
</html>
